<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Bandas</title>
</head>
<body>
    <p> Listado de bandas </p>

    <ul>
        <% for (let i = 0; i < listaBanda.length; i++) {%>
        
         <li>
          <div>
            <%=listaBanda[i]%>
          </div>
          
        </li>
       
        
        <%}%>
    </ul>
    
    
  
</body>
</html>